{#{% if is_granted('ROLE_ADMIN') %}#}
    <form method="post" action="{{ path('json_field_delete', {'id': json_field.id}) }}" onsubmit="">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ json_field.id) }}">
{#        <i class="fa fa-trash"></i>#}
{#        <input type="submit" class="btn" value="{{ 'action.delete'|trans }}"/>#}
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </form>
{#{% endif %}#}
