{% extends 'layout.html.twig' %}

{% set itemType = itemType|default('json_field') %}

{% set pageTitle = itemType ~ '.edit' %}
{% set pageSubTitle = 'json_field.subtitle' %}

{% block wrapper %}
    <div class="row">
        <div class="col-md-8">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header"><a class="btn btn-primary" href="{{ path('json_field_index') }}">{{ 'action.back_to_list'|trans }}</a></div>
                <div class="card-body">
                    {{ include(itemType ~ '/_form.html.twig', {'button_label': 'action.update'|trans}) }}
                </div>
            </div><!-- END card-->
        </div>
    </div>

{% endblock %}
