{% if is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('json_schema_delete', {'id': json_schema.id}) }}" onsubmit="">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ json_schema.id) }}">

        <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
    </form>
{% endif %}
