{% if is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('json_schema_delete', {'id': json_schema.id}) }}" onsubmit="">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ json_schema.id) }}">
        <input type="submit" class="btn" value="{{ 'action.delete'|trans }}"/>
    </form>
{% endif %}
