{% extends 'layout.html.twig' %}

{% block wrapper %}
    <div class="row">
        <div class="col-md-4">
            <div class="card card-default">
                <div class="card-header">{{ 'configuration'|trans }}</div>
                <div class="card-body">
                    {{ include(itemType ~ '/_form.html.twig', {'button_label': 'action.save'|trans}) }}
                    <a class="btn btn-primary" href="{{ path(itemType ~ '_index') }}">{{ 'action.back_to_list'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
